<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Sidebar Esquerda -->
    <div
      class="col-md-2 bg-dark text-white p-4 d-flex flex-column justify-content-between"
    >
      <!-- Logo -->
      <div class="mb-4">
        <h3 class="fw-bold text-light">EuroGaming</h3>
      </div>

      <!-- Menu de Navegação -->
      <div>
        <!-- Menu -->
        <div>
          <h6 class="text-center" style="opacity: 50%">--- Menu ---</h6>
          <ul class="nav flex-column mb-5">
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-compass"></i> Descubra
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-play"></i> Continue
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-trophy"></i> Conquistas
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-flag-checkered"></i> Missões
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-chart-line"></i> Progresso
              </a>
            </li>
          </ul>
        </div>

        <!-- Categoria -->
        <div>
          <h6 class="text-center" style="opacity: 50%">
            --- Complementares ---
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-video"></i> Lives
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-book"></i> Cursos
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-clipboard"></i> Plano de Estudo
              </a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-file-alt"></i> Documentos
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Modo Noturno -->
      <div
        class="d-flex justify-content-evenly align-items-center mt-auto mb-3"
      >
        <span>Modo Noturno</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <!-- Conteúdo Principal -->
    <div class="col-md-10 bg-secondary p-4 text-light">
      <!-- Barra de Busca e Perfil -->
      <div class="d-flex justify-content-between mb-4">
        <div class="col-8">
          <input
            type="text"
            class="form-control bg-dark text-light"
            placeholder="Pesquisar"
          />
        </div>

        <div class="col-md-4 d-flex justify-content-end align-items-center">
          <i class="fas fa-bell px-4"></i>
          <i class="fas fa-user"></i>
        </div>
      </div>

      <!-- Seção Treinamentos -->
      <h2 class="mt-5">Treinamentos</h2>
      <div class="d-flex mt-4">
        <div
          class="card card-t1 bg-primary text-white me-5"
          style="width: 60rem; height: 20rem"
        >
          <div class="card-overlay"></div>
          <div class="card-body">
            <h1 class="card-title mx-3 mt-3">Titulo Treinamento 1</h1>
            <h5 class="card-subtitle mx-3 mb-3">subtitulo treinamento 1</h5>
            <p
              class="card-text mx-3"
              style="
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                font-size: large;
              "
            >
              Autor • Minutagem • Data Limite
            </p>
          </div>
        </div>

        <div
          class="card card-t2 bg-primary text-white me-3"
          style="width: 30rem; height: 20rem"
        >
          <div class="card-overlay"></div>
          <div class="card-body">
            <h1 class="card-title mx-3 mt-3">Titulo Treinamento 2</h1>
            <h5 class="card-subtitle mx-3 mb-3">subtitulo treinamento 2</h5>
            <p
              class="card-text mx-3"
              style="
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                font-size: large;
              "
            >
              Autor • Minutagem • Data Limite
            </p>
          </div>
        </div>
      </div>

      <div class="d-flex ">
        <div class="me-5" style="width: 40%">
          <!-- Trilha de Desenvolvimento -->
          <h2 class="mt-5">Trilha de Desenvolvimento</h2>
          <div class="mt-4 card">
            <img
              src="assets/images/trilha de desenvolvimento.png"
              class="img-fluid"
              style="border-radius: 10px"
              alt="Trilha de Desenvolvimento"
            />
          </div>
        </div>

        <div class="m-5">
          <h2 class="mb-4">Módulos Faltantes</h2>

          <div class="d-flex">
            <div class="card bg-dark text-center me-3 p-3">
              <h5 class="mb-2">Modulo 4</h5>
              <p>Titulo da Aula 8</p>
              <p>Titulo da Aula 9</p>
            </div>
  
            <div class="card bg-dark text-center mx-5 p-3" >
              <h5 class="mb-2">Módulo 5</h5>
              <p>Titulo da Aula 1</p>
              <p>Titulo da Aula 2</p>
              <p>Titulo da Aula 3</p>
              <p>Titulo da Aula 4</p>
              <p>Titulo da Aula 5</p>
              <p>Titulo da Aula 6</p>
              <p>Titulo da Aula 7</p>
            </div>
  
            <div class="card bg-dark text-center ms-3 p-3">
              <h5 class="mb-2">Módulo 6</h5>
              <p>Titulo da Aula 1</p>
              <p>Titulo da Aula 2</p>
              <p>Titulo da Aula 3</p>
              <p>Titulo da Aula 4</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
