* {
    max-width: 100%;
}

.nav-link {
    font-size: 1.3rem;
    font-weight: 400; 
    color: black;
}

.card {
    border: none;
    transition: transform 0.2s ease-in-out;
}

.card-body {
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-principal {
    background-color: #003366;
    color: white;
    padding: 7%;
}

.card-noticias {
    width: 80%;
    height: auto;
}

.btn-noticias {
    width: 80%;
    background-color: #003366;
    border: #003366;
    border-radius: 2rem;
    font-weight: 500;
}

.btn:hover {
    background-color: #ffc107;
    border: #ffc107;
    color: #003366;
}
  
.card-acoes {
    background-color: #6590e0;
    border-radius: 2rem;
    color: 	black;
}

.btn-acoes {
    width: 50%;
    background-color: #080808;
    border: #003366;
    border-radius: 2rem;
    font-weight: 500;
    color: white;
}

  