<div class="container-fluid p-0">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <img
        class="navbar-brand img-fluid"
        src="assets/images/eurofarma-logo.png"
        alt="Logo"
        style="max-width: 12%"
      />

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"
              >Nossa Historia</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#">Organograma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Suporte</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Conteúdo principal -->
  <div class="bg-warning">
    <!-- Seção de Cards grandes -->
    <div class="row p-5">
      <div class="col-4 mb-3">
        <div class="card card-principal h-100">
          <div class="card-body"> 
            <a href="/dashboard" class="card-title light" style="text-decoration: none;">
              <h3>Treinamentos</h3>
            </a>
            
          </div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <div class="card card-principal h-100">
          <div class="card-body">
            <a href="/homepage" class="card-title light" style="text-decoration: none;">
              <h3>Eventos</h3>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <div class="card card-principal h-100">
          <div class="card-body">
            <a href="/documentos" class="card-title light" style="text-decoration: none;">
              <h3>Documentos</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Seção de Noticias -->
  <div class="row m-5 d-flex justify-content-evenly">
    <div class="col-4 d-flex justify-content-center">
      <div class="card card-noticias border h-100">
        <img
          src="assets/images/image-card.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Notícia 01</h5>
          <p class="card-text">Descrição curta da notícia 01</p>
          <a href="/homepage" class="btn btn-noticias btn-primary">Ler Notícia</a>
        </div>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-center">
      <div class="card card-noticias border h-100">
        <img
          src="assets/images/image-card.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Notícia 02</h5>
          <p class="card-text">Descrição curta da notícia 02</p>
          <a href="/homepage" class="btn btn-noticias btn-primary">Ler Notícia</a>
        </div>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-center">
      <div class="card card-noticias border h-100">
        <img
          src="assets/images/image-card.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Notícia 03</h5>
          <p class="card-text">Descrição curta da notícia 03</p>
          <a href="/homepage" class="btn btn-noticias btn-primary">Ler Notícia</a>
        </div>
      </div>
    </div>

  </div>

    <!-- Seção de Ações -->
    <div class="row m-5 d-flex justify-content-evenly">
        <div class="col-4">
          <div class="card card-acoes h-100">
            <div class="card-body">
              <h5 class="card-title pb-1">Ultimos Avisos</h5>
              <a href="/homepage" class="btn btn-acoes">Ver Avisos</a>
            </div>
          </div>
        </div>
    
        <div class="col-4">
            <div class="card card-acoes h-100">
              <div class="card-body">
                <h5 class="card-title pb-1">Pesquisa de Satisfação</h5>
                <a href="/homepage" class="btn btn-acoes">Responder Pesquisa</a>
              </div>
            </div>
          </div>
    
          <div class="col-4">
            <div class="card card-acoes h-100">
              <div class="card-body">
                <h5 class="card-title pb-1">Ações da Empresa</h5>
                <a href="/homepage" class="btn btn-acoes">Ver Ações</a>
              </div>
            </div>
          </div>
    
      </div>

  </div>  

  <!-- Rodapé -->
  <footer class="bg-light py-3">
    <div class="container text-center">
      <p>© Eurofarma 2024 - Todos os direitos reservados.</p>
    </div>
  </footer>
