.container-fluid {
    background-color: #f2f2f2;
  }
  
  .bg-primary {
    background-color: #007bff !important;
  }
  
  h3 {
    font-weight: bold;
  }
  
  img {
    width: 100%;
  }
  
  .form-control {
    border-radius: 30px;
    padding: 15px;
  }
  
  .btn-primary {
    border-radius: 30px;
    padding: 10px 0;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  .text-muted {
    font-size: 0.9rem;
  }
  
  button i {
    font-size: 1.5rem;
  }
  